<mat-dialog-content>
    <form #loginForm="ngForm" (ngSubmit)="submit()">
      <p>
        <!--<mat-form-field fxFlex>-->
          <input  matInput #userControl="ngModel" style="background: floralwhite"  type="text" maxlength="30" name="username" [(ngModel)]="username">
        <!--</mat-form-field>-->
        <!--<mat-hint fxLayoutAlign="start" *ngIf="userControl.invalid && !userControl.pristine">-->
          <span *ngIf="passControl.hasError('required')" class="tc-red-600">username is required</span>
        <!--</mat-hint>-->
      </p>

      <p>
        <!--<mat-form-field fxFlex>-->
          <input type="password" matInput style="background: floralwhite" placeholder="Password" type="password" name="password" [(ngModel)]="password"
                 required>
          <!--<mat-error fxLayoutAlign="start" *ngIf="passControl.hasError('required')">-->
            <!--Password is <strong>Required</strong>.-->
          <!--</mat-error>-->
        <!--</mat-form-field>-->

      </p>

      <p *ngIf="errorMessage" class="loginError">
        {{ errorMessage }}
      </p>


      <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Close</button>
      </mat-dialog-actions>


      <p class="loginButtons">
        <button  class="mat-raised-button mat-primary" type="submit" color="accent" mat-button md-raised-button fxFlex
                [disabled]="loginForm.invalid||loginForm.pending">Login</button>
      </p>

    </form>
    <mat-dialog-content>
